---
import { Image } from 'astro:assets'
import react from '../../public/React2.svg'
import next from '../../public/NextJS.svg'
import docker from '../../public/Docker Icon.svg'
import js from '../../public/js.svg'
import tailwind from '../../public/Tailwind.svg'
---

<div class='marquee gap-2'>
	<ul class='marquee__content'>
		<li aria-hidden='true'>
			<Image
				width={64}
				height={64}
				src={react}
				class='w-16 h-16 rounded-lg object-fill aspect-auto'
				alt={'react icon'}
			/>
		</li>
		<li aria-hidden='true'>
			<Image
				width={64}
				height={64}
				src={next}
				class='w-16 h-16 rounded-lg object-fill aspect-auto'
				alt={'Next.js icon'}
			/>
		</li>

		<li aria-hidden='true'>
			<Image
				width={64}
				height={64}
				src={docker}
				class='w-16 h-16 rounded-lg object-fill aspect-auto'
				alt={'docker icon'}
			/>
		</li>
		<li aria-hidden='true'>
			<Image
				width={64}
				height={64}
				src={js}
				class='w-16 h-16 rounded-lg object-fill aspect-auto'
				alt={'js icon'}
			/>
		</li>

		<li aria-hidden='true'>
			<Image
				width={64}
				height={64}
				src={tailwind}
				class='w-16 h-16 rounded-lg object-fill aspect-auto'
				alt={'tailwind icon'}
			/>
		</li>
	</ul>

	<ul class='marquee__content' aria-hidden='true'>
		<li aria-hidden='true'>
			<Image
				width={64}
				height={64}
				src={react}
				class='w-16 h-16 rounded-lg object-fill aspect-auto'
				alt={'react icon'}
			/>
		</li>
		<li aria-hidden='true'>
			<Image
				width={64}
				height={64}
				src={next}
				class='w-16 h-16 rounded-lg object-fill aspect-auto'
				alt={'Next.js icon'}
			/>
		</li>

		<li aria-hidden='true'>
			<Image
				width={64}
				height={64}
				src={docker}
				class='w-16 h-16 rounded-lg object-fill aspect-auto'
				alt={'docker icon'}
			/>
		</li>
		<li aria-hidden='true'>
			<Image
				width={64}
				height={64}
				src={js}
				class='w-16 h-16 rounded-lg object-fill aspect-auto'
				alt={'js icon'}
			/>
		</li>

		<li aria-hidden='true'>
			<Image
				width={64}
				height={64}
				src={tailwind}
				class='w-16 h-16 rounded-lg object-fill aspect-auto'
				alt={'tailwind icon'}
			/>
		</li>
	</ul>
</div>
